 /* mail list */
 .mail-list {
     background-color: var(--mail-bg-clr0);
     overflow: hidden;
 }

 .mail-table,
 .mail-table td {
     border: 1px solid black;
     border-collapse: collapse;
     width: 100%;
 }

 .mail-table .mail-preview {
     /* padding-inline: 40px; */
     padding-block: 5px;
 }

 .mail-table td:hover {
     border-block: 2px solid black;
 }

 .mail-title {
     /* flex-grow: 4; */
     /* overflow: hidden; */
 }

 .mail-content {
     /* flex-grow: 9; */
     /* overflow: hidden; */
 }

 .mail-date {
     /* flex-grow: 1; */
     /* width: 10%; */
 }

 .mail-buttons {
     display: none;
 }

 .mail-preview:hover .mail-buttons {
     display: inline-block;
 }

 .mail-preview:hover .mail-date {
     display: none;
 }