.mail-preview {
    white-space: nowrap;
    display: flex;
    position: relative;
    min-width: 0;
}

.mail-preview>*:not(.mail-buttons) {
    display: flex;
}

.mail-unread {
    font-weight: 700;
    background-color: var(--mail-bg-clr1);
}

.goldStar {
    color: gold;
}

.goldStar:hover {
    color: inherit;
}

.mail-star {
    width: 40px;
}

.mail-title {
    max-width: 170px;
    padding-inline-end: calc(var(--mail-gap-padding) * 3);
    flex-basis: 170px;
}

.mail-title span {
    overflow: hidden;
}

.mail-content {
    flex: 1 1 auto;
    min-width: 0;
    padding-inline-end: 10px;
}

.mail-content span {
    overflow: hidden;
}

.mail-buttons {
    display: none;
}

.mail-preview:hover .mail-buttons {
    display: inline-block;
}

.mail-preview:hover .mail-date {
    display: none;
}