

.div-create-note{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    gap: 1rem;
}

.input-create-note{
    
    padding: 0.5rem 2rem;
}

.btn-create{
    margin-left: 1rem;
}