.div-create-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-create-note {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 0.5rem;
    background-color: #202124;
    color: #E2E2E3;
    margin: 1rem 5px;
    width: 300px;
    border: 1px solid #E2E2E3;
}

.input-create-note::placeholder {
    color: #E2E2E3;
}

.btn-create {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #4768c9;
    color: #E2E2E3;
    margin: 5px;
    cursor: pointer;
}

.btn-create:hover {
    background-color: #123393;
    color: #E2E2E3;
}